<div class="login-background">
  <div class="login-section">
    <h2>Prayer Outreach Warrior </h2>
    <form [formGroup]='loginForm' class="form-style">
      <mat-form-field>
        <input matInput formControlName="username" placeholder="Username">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="password" placeholder="Password">
      </mat-form-field>
    </form>
    <div class="button-group">
        <a routerLink="/home">
          <button mat-raised-button class="button-item">Submit</button>
        </a>
        <button mat-raised-button color="primary" class="button-item" (click)="openDialog()">Register</button>
    </div>
    
  </div>
  <div class="right-side-pic">
    <!-- <img src="../../assets/img/giphy.gif" alt="background" width="100%" height="100%"> -->
  </div>
</div>
