<mat-card-title>
  Pray List
</mat-card-title>
<mat-card-content>
  <mat-grid-list cols="3" rowHeight="2:1">
      <mat-grid-tile>
        <mat-card class="animated tada delay-1s category-card-1">
          <mat-card-content>
            <div style="margin: 10%">
                <p style="color:white; font-size: 20px; font-weight: bold; padding-bottom: 10px">Global/Political Request</p>
                <button mat-mini-fab color="primary" style="margin-bottom: 10px; margin-left: 80%">
                  <mat-icon>add</mat-icon>
                </button>
                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="animated tada delay-1s category-card-2">

        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="animated tada delay-1s category-card-3">

        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="animated tada delay-1s category-card-4">

        </mat-card>
      </mat-grid-tile>
  </mat-grid-list>
</mat-card-content>
