mat-grid-tile {
    /**background: lightblue; */
}

mat-card-title {
    font-size: 24px;
    font-weight: bold;
    padding-left: 15px;
    padding-bottom: 10px;
}

.category-card-1 {
    width: 80%;
    height: 80%;
    padding: 10px;
    background-color: #A9B9D9;
}

.category-card-2 {
    width: 80%;
    height: 80%;
    padding: 10px;
    background-color: #400101;
}

.category-card-3 {
    width: 80%;
    height: 80%;
    padding: 10px;
    background-color: #ADBF24;
}

.category-card-4 {
    width: 80%;
    height: 80%;
    padding: 10px;
    background-color: #637AA6;
}

