<div>
  <div class="header">
    <div class="left-title">
        <mat-icon style="height:50px; width:50px; padding:10px;" svgIcon="indent"></mat-icon>
        <div style="color:white; font-size: 34px; margin:0px 5px; white-space:nowrap;">Pray Outreach Warrior</div>
    </div>
    <div class="right-logo">
        <mat-icon style="height:50px; width:50px; padding:12px;" svgIcon="tree"></mat-icon>
    </div>     
  </div>
    
  <div class="main"> 
    <div class="left-side"> 
      <app-left-side-bar></app-left-side-bar>
    </div>
    <div class="right-side"></div>
  </div>
</div>
