<div>
  <div class="header">
    <div class="left-title">
        <mat-icon style="height:50px; width:50px; padding:10px;" svgIcon="indent"></mat-icon>
        <p style="color:white; font-size: 36px; margin:0px 5px;">Pray Outreach Warrior</p>
    </div>
    <div class="right-logo">
        <mat-icon style="height:50px; width:50px; padding:12px;" svgIcon="tree"></mat-icon>
    </div>     
  </div>
    
  <div class="main"> 
    <div class="left-side"> 
      <app-left-side-bar></app-left-side-bar>
    </div>
    <div class="right-side"></div>
  </div>
</div>
